body {
 font-family: Arial, sans-serif;
 line-height: 1.6;
 margin: 0 auto;
 padding: 20px;
 background-color: #1f1f23;
 max-width: 600px;
}

h1, p {
 margin-bottom: 20px;
}

h1 {
 color: #ffffff;
}

p {
 color: #999999;
}

a {
 color: #6568ff;
}
